<article>
    <form action="/api/auth/login" method="POST">
        <header>
            <h2>Inicio de sesión</h2>
        </header>
        <section>
            <input type="text" name="email" placeholder="Correo" required>
            <input type="password" name="password" placeholder="Contraseña" required>
        </section>
        <footer>
            <input type="submit" value="Ingresar">
            <a href="/register">¿No tienes una cuenta? Registrate</a>
        </footer>
    </form>
</article>