<article>
    <form action="/api/auth/recover-password" method="POST">
        <header>
            <h2>¿Olvidaeste tu contraseña?</h2>
            <p> Ingresa tu correo electrónico para cambiar tu contraseña</p>
        </header>
        <section>
            <input type="text" name="email" placeholder="Correo electrónico" required>
        </section>
    </form>
</article>