<article>
    <form id="passw-form">
        <header>
            <h2>Recuperaci칩n de contrase침a</h2>
            <p>Hola {{ user.name }}, por favor, ingresa una nueva contrase침a </p>
        </header>
        <section>
            <input type="hidden" name="uid" value="{{ user.id }}">
            <input type="text" name="password" placeholder="Nueva contrase침a" required>
        </section>
    </form>
</article>

<script type="module" src="/js/set-password.js"></script>